<nav class="menu-container">
			<ul class="menubar">
				<li><a href="#"><i class="bi bi-boxes"></i> KCinema</a></li>
				<li><a href="#"><i class="bi bi-check-circle"></i> Phim mới</a></li>
				<li><a href="#"><i class="bi bi-diagram-2"></i> Đăng ký</a></li>
				<li><a href="#"><i class="bi bi-indent"></i> Đăng nhập</a></li>
				<li class="dropdown">
					<a href="#"><i class="bi bi-gear-wide-connected"></i> Quản lý</a>
					<ul class="submenu">
						<li><a href="/phim">Phim</a></li>
						<li><a href="/theloai">Thể loại</a></li>
						<li><a href="/dinhdang">Định dạng</a></li>
						<li><a href="/phongchieu">Phòng chiếu</a></li>
						<li><a href="/suatchieu">Suất chiếu</a></li>
					</ul>
				</li>
				<li><a href="#"><i class="bi bi-people"></i> Tài khoản</a></li>
				<li><a href="#"><i class="bi bi-power"></i> Đăng xuất</a></li>
			</ul>
		</nav>